html body {
	background-color: #111d29;
}

html body a {
	color: #b1d237 !important;
}

h1 {
	color: #b1d237 !important;
}

.rllt__link span,div{
	color: #b1d237 !important;
	background-color: #111d29 !important;
}

.yg51vc, .LHJvCe, .WE0UJf .LX3sZb .uU7dJb .KxwPGc .SwjIe .sfbg {
	background-color: #111d29 !important;
}

.EIaa9b div a {
	background-color: #111d29 !important;
}

.ULSxyf  span {
	color: #b1d237 !important;
}

body {
	background-color: #111d29 !important;
}

#SIvCob {
	color: #fff !important;
}

#SIvCob a {
	color: #b1d237 !important;
}

